.multi-column {
   -moz-column-count: 3;
   -moz-column-gap: 20px;
   -moz-column-fill: auto;
   -webkit-column-count: 3;
   -webkit-column-gap: 20px;
   -webkit-column-fill: auto;
   column-count: 3;
   column-gap: 20px;
   column-fill: auto;
   list-style-position: inside;
}